<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Agnostic Healthy Eating Tracker</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">

  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue"></script>

</head>
<body>

<h1>Agnostic Healthy Eating Tracker</h1>
Eat each type of “essential” food more often than any type of “recommended” food. Eat each type of “recommended”
food more often than any type of “acceptable” food. For extra credit, eat each of the ten food types in the
diet-quality hierarchy more often than any food type of lower rank.

<div id="app">

  <ul>
    <food-category-list
      v-bind:category="category"
      v-for="category in foodCategories"
      :key="category.categoryName">
    </food-category-list>
  </ul>

</div>

<script type="text/x-template" id="food-category-list-template">
  <div>
    <h2>{{category.categoryName}}</h2>
    <ul>
      <li v-for="food in category.foodsInCategory"><span class="food-name">{{food.foodName}}</span><span
        class="decrease-button"><</span><span
        class="counter">{{food.counter}}</span><span class="increase-button">></span></li>
    </ul>
  </div>
</script>

<script>

  var AHE = new Vue({
    el: '#app',
    name: 'AHE Tracker',
    components: {
      'food-category-list': {
        props: [
          'category'
        ],
        template: '#food-category-list-template'
      }
    },
    data: {
      foodCategories: [
        {
          categoryName: 'Essential',
          foodsInCategory: [
            {
              foodName: 'Vegetables',
              counter: 12
            },
            {
              foodName: 'Fruits',
              counter: 8
            }
          ]
        },
        {
          categoryName: 'Recommended',
          foodsInCategory: [
            {
              foodName: 'Nuts, Seeds, and Healthy Oils',
              counter: 4
            },
            {
              foodName: 'Fish and High-Quality Meats',
              counter: 7
            },
            {
              foodName: 'Whole Grains',
              counter: 5
            },
            {
              foodName: 'Dairy',
              counter: 7
            }
          ]
        },
        {
          categoryName: 'Acceptable',
          foodsInCategory: [
            {
              foodName: 'Refined Grains',
              counter: 2
            },
            {
              foodName: 'Other Foods',
              counter: 3
            },
            {
              foodName: 'Low-Quality Meats',
              counter: 3
            },
            {
              foodName: 'Sweets',
              counter: 1
            },
            {
              foodName: 'Fried Foods',
              counter: 0
            }
          ]
        }
      ]
    },
    methods: {
      incrementCounter: function () {
        this.counter
      }
    }
  })

</script>

</body>
</html>