#wrapper {
  max-width: 1000px;
}

#app {
  max-width: 750px;
}

.logout-btn-div {
  margin-top: 25px;
  margin-bottom: 25px;
}

.login-form input {
  margin-bottom: 10px;
}

.counter-button {
  cursor: pointer;
}

.food-li {
  padding: 5px 0;
}

.counter {
  padding: 0 5px;
  display: inline-block;
  width: 3em;
  text-align: center;
}

.counter-div {
  text-align: right;
}