#wrapper {
  max-width: 413px;
}

.counter-button {
  cursor: pointer;
}

.food-li {
  padding: 5px 0;
}

.counter {
  padding: 0 5px;
  display: inline-block;
  width: 2em;
  text-align: center;
}

.counter-div {
  text-align: right;
}